* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--corFundo);
    color: var(--corTexto);
    font-weight: bold;
    letter-spacing: 0.5px;
}

.container {
    max-width: 512px;
    width: 100%;
    margin: 32px auto;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-bottom: 32px;
    color: var(--corTitle);
}

:root {
    --corFundo: #242424;
    --corTexto: silver;
    --corTitle: rgba(0, 255, 255, 0.836);
}